html.light {
  @apply bg-background text-foreground;
}

html.dark {
  @apply bg-foreground text-background;
}

#logos path {
  stroke-dashoffset: 1px;
  stroke-dasharray: 0 30px;
  animation: grow 5s ease forwards infinite;
  transform-origin: center;
}

@media (prefers-reduced-motion: reduce) {
  path {
    animation: none !important;
    stroke-dasharray: unset !important;
  }
}

@keyframes grow {
  0% {
    stroke-dashoffset: 1px;
    stroke-dasharray: 0 30px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    stroke-dasharray: 30px 0;
  }
  /* Moving back */
  99% {
    stroke-dasharray: 30px 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
